{% extends "base.html" %}

{% block title %}Сэсэн | Главная страница{% endblock %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'home/css/homepage.css' %}">
{% endblock %}

{% block extrajs %}
<script>

    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            dots: false,
            autoplay: true,
            navText: [
                "<", ">"
            ],
            responsive: {
                0: { items: 1 },
                600: { items: 2 },
                1000: { items: 3 }
            }
        });
    });

</script>
{% endblock %}

{% block main %}
<div class="homepage-container">

    <div class="welcome-container">

        <h1>Интерактивное изучение <br><span class="welcome-container-h1">бурятского языка</span></h1>

        <p>
            Платформа для сохранения и популяризации языка. Проходите структурированные курсы, сдавайте тесты и отслеживайте свой прогресс в личном кабинете.
        </p>

        <a href="#" class="welcome-container-btn">
            Начать обучение
        </a>

    </div>

    <div class="features-container">
        <div class="row justify-content-evenly gx-0">
            <div class="col-md-3" style="margin-top: 16px;">
                <div class="feature-card h-100">
                    <img src="{% static 'home/images/school.svg' %}" style="margin-bottom: 8px;" width="24px">
                    <h3 style="margin-bottom: 1rem;">Курсы</h3>
                    <p>Просмотр списка доступных курсов и описаний. Изучение теоретической части и закрепление материала.</p>
                </div>
            </div>
            <div class="col-md-3" style="margin-top: 16px;">
                <div class="feature-card h-100">
                    <img src="{% static 'home/images/quiz.svg' %}" style="margin-bottom: 8px;" width="24px">
                    <h3 style="margin-bottom: 1rem;">Тесты</h3>
                    <p>Прохождение тестов по отдельным урокам и итоговых тестов по курсам. Оценка знаний в реальном времени.</p>
                </div>
            </div>
            <div class="col-md-3" style="margin-top: 16px;">
                <div class="feature-card h-100">
                    <img src="{% static 'home/images/progress.svg' %}" style="margin-bottom: 8px;" width="24px">
                    <h3 style="margin-bottom: 1rem;">Прогресс</h3>
                    <p>Сохранение результатов пройденных тестов и отслеживание прогресса обучения в личном кабинете.</p>
                </div>
            </div>
        </div>
    </div>

    <!--

    <div class="my-5 facts">

        <h2>Буряад хэлэтэй танилсая!</h2>
        <small>Давайте познакомимся с бурятским языком!</small>
        <br>
        <br>
        <small class="d-none d-md-block" style="color: rgb(211,211,211);">наведите на карточку, чтобы увеличить</small>
        <div class="owl-carousel owl-theme">

            <div class="fact-card mx-4">
                <h4>Исконная письменность</h4>
                <p>
                    До 1931 года буряты писали, используя монгольское письмо.
                    Алфавит состоит из 123 устойчивых сочетаний графем!
                    Например, буква А пишется четырьмя разными способами
                </p>
            </div>

            <div class="fact-card mx-4">
                <h4>Агглютинативность</h4>
                <p>
                    Бурятский язык – агглютинативный язык,
                    строй которого характеризуется присоединением к существительным и глаголам
                    большого количества морфем (суффиксов и префиксов),
                    каждая из которых выражает определенное грамматическое значение.
                </p>
            </div>

            <div class="fact-card mx-4">
                <h4>Монгольская языковая семья</h4>
                <p>
                    Бурятский входит в монгольскую языковую семью алтайской группы. Родственными
                    языками бурятского можно считать, соответственно, монгольский, калмыцкий и ойратский.
                </p>
            </div>

            <div class="fact-card mx-4">
                <h4>Диалекты</h4>
                <p>
                    У бурятского языка более 10 диалектов.
                    Диалектные группы и отдельные говоры характеризуются в основном фонетическими различиями,
                    а также некоторыми лексическими и незначительными грамматическими особенностями.
                </p>
            </div>

            <div class="fact-card mx-4">
                <h4>Распространение</h4>
                <p>
                    Бурятский язык распространен в России (Республика Бурятия, Иркутская область,
                    Забайкальский край), в Монголии (аймаки Дорнод, Хэнтий, Сэлэнгэ и Хувсгел) и
                    на северо-востоке Китая.
                </p>
            </div>

        </div>
    </div>
    -->

</div>

{% endblock %}