{% extends "base.html" %}

{% block title %}Сэсэн | Главная страница{% endblock %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'home/homepage.css' %}">
{% endblock %}

{% block extrajs %}
<script>

    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            dots: false,
            autoplay: true,
            navText: ["◀", "▶"],
            responsive: {
                0: { items: 1 },
                600: { items: 2 },
                1000: { items: 3 }
            }
        });
    });

</script>
{% endblock %}

{% block main %}
<br>
<div class="text-center my-2">

    <div class="welcome-card w-100 w-xl-75 w-900-60">
        <div class="welcome-card-head py-2">
            <h1>Сэсэн</h1>
            <small style="color: rgb(211,211,211);">бур. мудрость</small>
        </div>
        <div class="welcome-card-text py-2 px-2">
            <p>Добро пожаловать на сайт проекта "Сэсэн" для изучающих бурятский язык.</p>
            <p>
                На нашем сайте Вам предоставлена возможность прохождения курсов для получения новых знаний,
                а также решения разного рода тестов для закрепления пройденного материала.
            </p>
            <a href="{% url 'about' %}" class="d-block">Больше информации о нас</a>
        </div>
    </div>

    <div class="my-5 facts">

        <h2>Буряад хэлэтэй танилсая!</h2>
        <small>Давайте познакомимся с бурятским языком!</small>
        <br>
        <br>
        <small class="d-none d-md-block">Наведите на карточку, чтобы увеличить</small>
        <small class="d-block d-md-none">Нажмите на карточку, чтобы увеличить</small>
        <div class="owl-carousel owl-theme">

            <div class="fact-card mx-4">
                <h4>Исконная письменность</h4>
                <p>
                    До 1931 года буряты писали, используя монгольское письмо.
                    Алфавит состоит из 123 устойчивых сочетаний графем!
                    Например, буква А пишется четырьмя разными способами
                </p>
            </div>

            <div class="fact-card mx-4">
                <h4>Агглютинативность</h4>
                <p>
                    Бурятский язык – агглютинативный язык,
                    строй которого характеризуется присоединением к существительным и глаголам
                    большого количества морфем (суффиксов и префиксов),
                    каждая из которых выражает определенное грамматическое значение.
                </p>
            </div>

            <div class="fact-card mx-4">
                <h4>Монгольская языковая семья</h4>
                <p>
                    Бурятский входит в монгольскую языковую семью алтайской группы. Родственными
                    языками бурятского можно считать, соответственно, монгольский, калмыцкий и ойратский.
                </p>
            </div>

            <div class="fact-card mx-4">
                <h4>Диалекты</h4>
                <p>
                    У бурятского языка более 10 диалектов.
                    Диалектные группы и отдельные говоры характеризуются в основном фонетическими различиями,
                    а также некоторыми лексическими и незначительными грамматическими особенностями.
                </p>
            </div>

            <div class="fact-card mx-4">
                <h4>Распространение</h4>
                <p>
                    Бурятский язык распространен в России (Республика Бурятия, Иркутская область,
                    Забайкальский край), в Монголии (аймаки Дорнод, Хэнтий, Сэлэнгэ и Хувсгел) и
                    на северо-востоке Китая.
                </p>
            </div>

        </div>
    </div>

</div>

{% endblock %}