

.welcome-card {
    margin: 0 auto;
    background: url("../images/backgroundhome.jpg") no-repeat center center;
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.welcome-card-head {
    /*background-color: rgba(64,110,183,0.5);*/
    background: linear-gradient(rgba(64,110,183,0),rgba(13,24,70,0.8));
    color: rgb(227,227,227);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 150px;
}

.welcome-card-head h1 {
    font-size: 70px;
    font-weight: 600;
    color: ;
}

.welcome-card-head h1:hover {
    cursor: pointer;
}

.welcome-card-text {
    background-color: rgba(13,24,70,0.8);
    color: rgb(227,227,227);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.welcome-card-text a {
    text-decoration: none;
    color: rgb(227,227,227);
    transition: 0.5s;
    background-color: rgba(64,110,183,0.7);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 7px;
}

.welcome-card-text a:hover {
    background-color: rgb(233,86,35);
    cursor: pointer;
    transition: 0.5s;
    font-size: 19px;
}

.facts {
    background-color: rgb(13,24,70);
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 0 auto;
}

.facts h2 {
    font-weight: 700;
}

.fact-card {
    display: flex !important;
    flex-direction: column !important;
    height: auto !important;
    background: linear-gradient(rgb(13,24,70), rgb(64,110,183));
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.fact-card h4 {
    font-weight: 700;
    transition: 0.5s;
}

@media (min-width: 600px) {
    .fact-card p {
        flex: 1;
        display: flex;
        align-items: flex-end;
        color: rgb(255,255,255,0.8);
        transition: 0.5s;
    }

    .fact-card:hover h4 {
        transition: 0.5s;
        font-size: 30px;
    }

    .fact-card:hover p {
        color: white;
        transition: 0.5s;
        font-size: 20px;
    }
}

.owl-theme .owl-nav [class*='owl-'] {
    background: rgb(64, 110, 183) !important;
    color: white !important;
    border-radius: 5px !important;
    font-size: 30px !important;
    transition: 0.5s !important;
    width: 50px !important;
    height: 40px !important;
    justify-content: center !important;
    line-height: 40px !important;
    text-align: center !important;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: rgb(233,86,35) !important;
    transform: scale(1.1);
    transition: 0.5s;
}
