.homepage-container {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.welcome-container {
    padding: 4rem;
    margin-bottom: 4rem;
}

.welcome-container h1 {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.welcome-container-h1 {
    background: linear-gradient(135deg, rgb(78,69,228), rgb(243,61,93));
    -webkit-background-clip: text;
    color: transparent;
}

.welcome-container p {
    max-width: 700px;
    color: rgb(71,85,105);
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 3rem;
}

.welcome-container-btn {
    max-width: 201px;
    width: 100%;
    display: block;
    margin: 0 auto;
    background: linear-gradient(135deg, rgb(78,69,228), rgb(129,140,248), rgb(243,61,93));
    background-size: 150% auto;
    background-position: left center;
    box-shadow: 0 4px 15px rgba(79, 70, 229, 0.3);
    padding-block: 1rem;
    padding-inline: 2rem;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: 0.6s;
}

.welcome-container-btn:hover {
    background-position: right center;
    background-size: 300% auto;
    transition: 0.6s;
}

.features-container {
    margin-bottom: 2rem;
}

.features-container .row {
    margin-left: 1rem;
    margin-right: 1rem;
}

.feature-card {
    padding: 2rem;
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.08);
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-card h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.feature-card p {
    color: rgb(71,85,105);
    margin-top: auto;
    margin-bottom: auto;
}

@media(max-width: 992px) {
    .feature-card {
        padding: 1.5rem;
    }
}

@media(max-width: 768px) {
    .welcome-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .welcome-container h1 {
        font-size: 2rem;
    }

    .feature-card {
        padding: 1rem;
    }
}
