{% extends "base.html" %}

{% block title %}Сэсэн | Главная страница{% endblock %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock %}

{% block extrajs %}
<script>



</script>
{% endblock %}

{% block main %}
<div class="log-main text-center">

    <div class="container log-form text-left">
    <h3>Вход в аккаунт</h3>
        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="errors global-errors" style="color: #dc3545; margin-bottom: 15px;">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% for field in form %}

            <div class="log-input">
                <label>{{ field.label }}</label>
                {{ field }}
                <br>


                {% if field.errors %}
                    <div class="errors">
                        {{ field.errors }}
                    </div>
                {% endif %}

            </div>

            {% endfor %}

            <button type="submit" class="log-btn-form">Войти в аккаунт</button>
        </form>
    <br>
    <small>Нет аккаунта? <a href="{% url 'register' %}" class="to-reg-btn">Зарегистрироваться</a></small>

    </div>

</div>

{% endblock %}