{% extends "base.html" %}

{% block title %}Сэсэн | Профиль{% endblock %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock %}

{% block extrajs %}
<script src="{% static 'users/js/profile.js' %}"></script>
{% endblock %}

{% block main %}
<div class="profile-main text-center">

    <h1 style="text-align: left;"></h1>

    <div class="row gx-0">
        <div class="col-12 col-md-4">
            <div class="profile-card">
                <div class="profile-card-avatar">
                    {{ user.username|slice:":1"|upper }}
                </div>
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                <p style="overflow-wrap: break-word;">{{ user.username }}</p>
                <p style="overflow-wrap: break-word;">{{ user.email }}</p>
                {% if user.is_superuser %}
                    <div class="superuser-plate">
                        Администратор
                    </div>
                {% elif user.role == 'expert' %}
                    <div class="expert-plate">
                        {{ user.get_role_display }}
                    </div>
                {% elif user.role == 'student' %}
                    <div class="student-plate">
                        {{ user.get_role_display }}
                    </div>
                {% endif %}
                <a href="{% url 'update_user' %}" class="profile-card-btn">Изменить данные</a>
                <a href="{% url 'update_password' %}" class="profile-card-btn">Изменить пароль</a>
                <a href="{% url 'logout' %}" class="profile-card-btn profile-card-btn-logout" id="id_profile-card-btn-logout">Выйти из профиля</a>
                <form method="post" action="{% url 'delete_user' %}">
                    {% csrf_token %}
                    <button class="profile-card-btn-dlt" id="id_profile-card-btn-dlt" type="submit">Удалить аккаунт</button>
                </form>
            </div>
        </div>

        <div class="col-12 col-md-8">
            <div class="profile-progress-info">
                <div class="row gx-0 justify-content-between">
                    <div class="col-6">
                        <div class="profile-progress-info-courses random-buryad-word-card" id="id_random-buryad-word-card">
                            <span>Пройдено уроков</span>
                            <span class="progress-count">{{ num_of_lessons }}</span>
                            <span id="id_random-buryad-word-tip">за все время обучения</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="profile-progress-info-lessons">
                            <span>Ударная серия</span>
                            <span class="progress-count">
                                {{ user.streak_count }}
                                {% if streak_last_digit == 1 and streak_last_two != 11 %}
                                    день
                                {% elif streak_last_digit >= 2 and 4 >= streak_last_digit and 10 > streak_last_two %}
                                    дня
                                {% elif streak_last_digit >= 2 and 4 >= streak_last_digit and streak_last_two >= 20 %}
                                    дня
                                {% else %}
                                    дней
                                {% endif %}
                            </span>
                            <span>активности подряд!</span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-evenly gx-0">
                    <div class="col-12">
                        <div class="profile-progress-info-bar">
                            <h2>Моё обучение</h2>
                            <span style="display: block; margin-bottom: 0;">Прогресс по текущим курсам</span>
                            {% if not user_course_progresses %}
                            <p style="display: block; margin-bottom: 0; margin-top: 1rem; font-size: 1rem;">
                                Ой, тут ничего нет. Видимо, Вы еще не начали прохождение курсов.
                            </p>
                            {% endif %}
                            {% for user_course_progress in user_course_progresses %}
                                <div class="user-progress-card">
                                    <h3>{{ user_course_progress.course.title }}</h3>
                                    <div class="user-progress-card-nums">
                                        <span>{{ user_course_progress.completed_lessons }} из {{ user_course_progress.total_lessons }}</span>
                                        <span>{{ user_course_progress.percent }}%</span>
                                    </div>
                                    <progress id="progress" value="{{ user_course_progress.percent }}" max="100"></progress>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}