{% extends "base.html" %}

{% block title %}Сэсэн | Главная страница{% endblock %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'users/css/register.css' %}">
{% endblock %}

{% block extrajs %}
<script src="{% static 'users/js/register.js' %}"></script>
{% endblock %}

{% block main %}
<div class="reg-main text-center">

    <div class="container reg-form">

        <h3>Регистрация</h3>
        <form method="post">
            {% csrf_token %}
            <div class="reg-inputs">
                {% if form.non_field_errors %}
                    <div class="errors global-errors" style="color: red;">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {% for field in form %}
                <div class="reg-input">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    <br>
                    {% if field.name == "username" %}
                        <span id="username_help_text" class="username_help_text">Обязательное поле. До 150 символов (буквы, цифры и @/./+/-/_).</span>
                    {% endif %}

                    {% if field.errors %}
                        <div class="errors">
                            {{ field.errors }}
                        </div>
                    {% endif %}

                    {% if field.name == "password1" %}
                        <ul id="password1_help_text" class="password1_help_text">
                            <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
                            <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                            <li>Пароль не должен быть слишком простым и распространенным.</li>
                            <li>Пароль не может состоять только из цифр.</li>
                        </ul>
                    {% endif %}

                    {% if field.name == "password2" %}
                        <span id="password2_help_text" class="password2_help_text">Введите пароль ещё раз.</span>
                    {% endif %}

                </div>
                {% endfor %}
            </div>
            <button type="submit" class="reg-btn-form">Создать аккаунт</button>
        </form>
        <br>
        <small>Уже есть аккаунт? <a href="{% url 'login' %}" class="to-log-btn">Войти</a></small>
    </div>

</div>

{% endblock %}