{% extends "base.html" %}

{% block title %}Сэсэн | Главная страница{% endblock %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'users/css/update_user.css' %}">
{% endblock %}

{% block extrajs %}
<script src="{% static 'users/js/register.js' %}"></script>
{% endblock %}

{% block main %}
<div class="upd-user-main text-center">

    <div class="container upd-user-form">

        <h3>Изменение пароля</h3>
        <form method="post">
            {% csrf_token %}
            <div class="upd-user-inputs">
                {% if form.non_field_errors %}
                    <div class="errors global-errors" style="color: red;">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {% for field in form %}
                <div class="upd-user-input">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    <br>

                    {% if field.errors %}
                        <div class="errors">
                            {{ field.errors }}
                        </div>
                    {% endif %}

                    {% if field.name == "new_password1" %}
                        <ul id="password1_help_text" class="password1_help_text">
                            <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
                            <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                            <li>Пароль не должен быть слишком простым и распространенным.</li>
                            <li>Пароль не может состоять только из цифр.</li>
                        </ul>
                    {% endif %}

                    {% if field.name == "new_password2" %}
                        <span id="password2_help_text" class="password2_help_text">Введите пароль ещё раз.</span>
                    {% endif %}

                </div>
                {% endfor %}
            </div>
            <button type="submit" class="upd-user-btn-form">Изменить пароль</button>
            <a href="{% url 'profile' %}" class="to-profile-btn">Отмена</a>
        </form>
    </div>

</div>

{% endblock %}