{% extends "base.html" %}

{% block title %}Сэсэн | Курс | {{ current_course.title }}{% endblock %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'courses/css/course.css' %}">
{% endblock %}

{% block extrajs %}
<script>



</script>
{% endblock %}

{% block main %}
<div class="course-main">

    <a href="{% url 'courses' %}" class="to-courses-btn">К списку курсов</a>

    <div class="course-description">
        <h1>{{ current_course.title }}</h1>
        <p>{{ current_course.description }}</p>
    </div>

    <div class="lessons-list">
        <h2>Перечень уроков курса</h2>

        {% for card in lessons %}
            {% if card.is_published %}
            <div id="lesson-{{ card.id }}">
                <div class="lesson-card">
                    <div class="lesson-card-name">
                        <h3>{{ card.title }}</h3>
                        <p>Лайков: 0. Комментариев: 0</p>
                    </div>
                    <a href="{% url 'open_lesson' current_course.id card.order_num %}" class="to-lesson-btn">Перейти к уроку</a>
                </div>
            </div>
            {% endif %}
        {% endfor %}

    </div>


</div>

{% endblock %}