{% extends "base.html" %}

{% block title %}Сэсэн | Создание курса{% endblock %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'courses/css/create_course.css' %}">
{% endblock %}

{% block extrajs %}
<script src="{% static 'courses/js/create_course.js' %}"></script>
{% endblock %}

{% block main %}
<div class="create-course-main text-center">

    <div class="container create-course-form text-left">
    <h3>Создание курса</h3>
        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="errors global-errors" style="color: #dc3545; margin-bottom: 15px;">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% for field in form %}

            <div class="create-course-input">
                <label>{{ field.label }}</label>
                {{ field }}
                <span class="help-text" id="{{ field.id_for_label }}-help">
                    {% if field.name == 'title' %}
                        В названии можно ввести максимум 255 символов.
                    {% endif %}
                    {% if field.name == 'description' %}
                        Опишите, что будет пройдено в курсе.
                    {% endif %}
                </span>


                {% if field.errors %}
                    <div class="errors">
                        {{ field.errors }}
                    </div>
                {% endif %}

            </div>

            {% endfor %}

            <button type="submit" class="create-course-btn-form">Создать курс</button>
        </form>
    </div>

</div>

{% endblock %}