<div class="lesson-card" id="lesson-{{ card.id }}" data-id="{{ card.id }}">
    <div class="drag-handle" style="cursor: grab;">
        ☰
    </div>
    <div class="lesson-card-text">
        {% if card.is_published %}
        <div class="status true">
            Опубликован
        </div>
        {% else %}
        <div class="status false">
            Черновик
        </div>
        {% endif %}
        <div>
            <h3>{{ card.title }}</h3>
        </div>
        <div>
            <span style="margin-right: 1rem;">Лайков: 0</span>
            <span>Комментариев: 0</span>
        </div>
    </div>
    <div class="lesson-card-buttons">
        <a href="{% url 'update_lesson' current_course.id card.id %}" class="simple-btn">Редактировать</a>

        {% if card.is_published %}
        <form 
            hx-post="{% url 'unpublish_lesson' current_course.author.username current_course.id card.id %}"
            hx-target="#lesson-{{ card.id }}"
            hx-swap="outerHTML"
            hx-confirm="Вы действительно хотите добавить урок {{ card.title }} в черновик?">
            {% csrf_token %}
            <button type="submit" class="unpublish-btn">В черновик</button>
        </form>
        {% else %}
        <form 
            hx-post="{% url 'publish_lesson' current_course.author.username current_course.id card.id %}"
            hx-target="#lesson-{{ card.id }}"
            hx-swap="outerHTML"
            hx-confirm="Вы действительно хотите опубликовать урок {{ card.title }}?">
            {% csrf_token %}
            <button type="submit" class="publish-btn">Опубликовать</button>
        </form>
        {% endif %}

        <form 
            hx-post="{% url 'delete_lesson' current_course.id card.id %}"
            hx-target="#lesson-{{ card.id }}"
            hx-confirm="Вы действительно хотите удалить урок «{{ card.title }}»? Удаление приведет к полной потере данных, включая тесты."
            hx-swap="outerHTML">
            {% csrf_token %}
            <button type="submit" class="delete-btn">Удалить</button>
        </form>
    </div>
</div>