<!DOCTYPE html>
{% load static %}
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Сэсэн{% endblock %}</title>

    <!-- ПОДКЛЮЧЕНИЕ BOOTSTRAP -->
    <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">

    <!-- ШРИФТЫ ARSENAL, TEKTUR, NUNITO -->
    <link rel="stylesheet" href="{% static 'css/vendor/fonts.css' %}">

    <!-- ПОДКЛЮЧЕНИЕ МОИХ СТИЛЕЙ -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extrahead %}{% endblock %}
</head>

<body>

    <header>

        <div class="in-header-container-big">
            <nav class="menu-btns">
                <a href="{% url 'home' %}" class="logo">cэсэн</a>
                <a href="{% url 'home' %}" class="menu-btn mx-3 {% if request.path == '/' %}active{% endif %}">Главная</a>
                <a href="{% url 'courses' %}" class="menu-btn mx-3 {% if request.path == '/courses/' %}active{% endif %}">Курсы</a>
                <a href="{% url 'dictionary' %}" class="menu-btn mx-3 {% if request.path == '/features/dictionary/' %}active{% endif %}">Словарь</a>
                <a href="#" class="menu-btn mx-3">Студия</a>
            </nav>

            {% if user.is_authenticated %}
                <nav class="menu-help-btns">
                    <a href="{% url 'profile' %}" class="log-btn mx-3 {% if request.path == '/profile/' %}active{% endif %}">Профиль</a>
                    <a href="#" class="ms-3"><img src="{% static 'images/ruslang.png' %}" height="24px" width="24px"></a>
                </nav>
            {% else %}
                <nav class="menu-help-btns">
                    <a href="{% url 'login' %}" class="log-btn mx-3 {% if request.path == '/login/' %}active{% endif %} {% if request.path == '/register/' %}active{% endif %}">Войти</a>
                    <a href="#" class="ms-3"><img src="{% static 'images/ruslang.png' %}" height="24px" width="24px"></a>
                </nav>
            {% endif %}
        </div>

        <div class="in-header-container-small">
            <a href="{% url 'home' %}" class="logo">cэсэн</a>

            <div class="burger-btn" id="burger-toggle">
                <span></span> <span></span> <span></span>
            </div>

            <div class="mobile-menu">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="log-btn {% if request.path == '/profile/' %}active{% endif %}">Профиль</a>
                {% else %}
                    <a href="{% url 'login' %}" class="log-btn {% if request.path == '/login/' %}active{% endif %} {% if request.path == '/register/' %}active{% endif %}">Войти</a>
                {% endif %}
                <a href="{% url 'home' %}" class="menu-btn {% if request.path == '/' %}active{% endif %}">Главная</a>
                <a href="{% url 'courses' %}" class="menu-btn {% if request.path == '/courses/' %}active{% endif %}">Курсы</a>
                <a href="{% url 'dictionary' %}" class="menu-btn {% if request.path == '/features/dictionary/' %}active{% endif %}">Словарь</a>
                <a href="#" class="menu-btn">Студия</a>
                <a href="#" class="menu-btn">Switch to English</a>
            </div>
        </div>

    </header>

    <div class="messages-container" id="id_messages-container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    </div>

    <main class="text-center">
        {% block main %}Привет из base.html!{% endblock %}
    </main>

    <footer class="text-left">
        <div class="in-footer-container">

            <div class="row gy-3 gx-0 justify-content-between">

                <div class="col-12 col-md-4">
                    <div class="footer-list">
                        <h4 style="color: rgb(15,23,42)">Сэсэн</h4>
                        <p>Онлайн-площадка сохранения и развития бурятского языка.<br>
                        Давайте беречь наш язык ❤️</p>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-md-2">
                    <div class="footer-list">
                        <h5 style="color: rgb(15,23,42)">Ссылки</h5>
                        <a href="{% url 'home' %}">Главная</a><br>
                        <a href="{% url 'courses' %}">Курсы</a>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-md-2">
                    <div class="footer-list">
                        <h5 style="color: rgb(15,23,42)">Информация</h5>
                        <a href="{% url 'under_construction' %}">О проекте</a><br>
                        <a href="{% url 'under_construction' %}">Об авторах</a>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-md-2">
                    <div class="footer-list">
                        <h5 style="color: rgb(15,23,42)">Помощь</h5>
                        <a href="{% url 'home' %}">F.A.Q.</a><br>
                        <a href="{% url 'under_construction' %}">Написать поддержке</a>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- ПОДКЛЮЧЕНИЕ JS-СКРИПТОВ-->
    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@2.0.8"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block extrajs %}{% endblock %}

</body>
</html>