<!DOCTYPE html>
{% load static %}
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Сэсэн{% endblock %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- ПОДКЛЮЧЕНИЕ BOOTSTRAP -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- ПОДКЛЮЧЕНИЕ OWL CAROUSEL -->
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">

    <!-- ШРИФТЫ ARSENAL, TEKTUR, NUNITO -->
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

    <!-- ПОДКЛЮЧЕНИЕ МОИХ СТИЛЕЙ -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extrahead %}{% endblock %}
</head>

<body>

    <header>

        <div class="in-header-container">
            <nav class="menu-btns d-none d-md-block">
                <a href="{% url 'home' %}" class="logo">cэсэн</a>
                <a href="{% url 'home' %}" class="menu-btn me-3 {% if request.path == '/' %}active{% endif %}">Главная</a>
                <a href="{% url 'under_construction' %}" class="menu-btn mx-3 {% if request.path == '/courses/' %}active{% endif %}">Курсы</a>
            </nav>
            <nav class="menu-btns d-block d-md-none">
                <a href="{% url 'home' %}" class="logo">cэсэн</a>
                <a href="{% url 'home' %}" class="menu-btn me-2 {% if request.path == '/' %}active{% endif %}">Главная</a>
                <a href="{% url 'under_construction' %}" class="menu-btn mx-2 {% if request.path == '/courses/' %}active{% endif %}">Курсы</a>
            </nav>

            {% if user.is_authenticated %}
                <nav class="menu-help-btns d-none d-md-block">
                    <a href="{% url 'profile' %}" class="log-btn mx-3 {% if request.path == '/profile/' %}active{% endif %}">Профиль</a>
                    <a href="#" class="ms-3"><img src="{% static 'images/ruslang.png' %}" height="24px" width="24px"></a>
                </nav>
                <nav class="menu-help-btns d-block d-md-none">
                    <a href="{% url 'profile' %}" class="log-btn mx-2 {% if request.path == '/profile/' %}active{% endif %}">Профиль</a>
                    <a href="#" class="ms-2"><img src="{% static 'images/ruslang.png' %}" height="24px" width="24px"></a>
                </nav>
            {% else %}
                <nav class="menu-help-btns d-none d-md-block">
                    <a href="{% url 'login' %}" class="log-btn mx-3">Войти</a>
                    <a href="#" class="ms-3"><img src="{% static 'images/ruslang.png' %}" height="24px" width="24px"></a>
                </nav>
                <nav class="menu-help-btns d-block d-md-none">
                    <a href="{% url 'login' %}" class="log-btn mx-2">Войти</a>
                    <a href="#" class="ms-2"><img src="{% static 'images/ruslang.png' %}" height="24px" width="24px"></a>
                </nav>
            {% endif %}
        </div>

    </header>

    <div class="messages-container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    </div>

    <main class="text-center">
        {% block main %}Привет из base.html!{% endblock %}
    </main>

    <footer class="text-left">
        <div class="in-footer-container">

            <div class="row gy-3 gx-0 justify-content-between">

                <div class="col-12 col-md-4">
                    <div class="footer-list">
                        <h4 style="color: rgb(15,23,42)">Сэсэн</h4>
                        <p>Онлайн-площадка сохранения и развития бурятского языка.<br>
                        Давайте беречь наш язык ❤️</p>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-md-2">
                    <div class="footer-list">
                        <h5 style="color: rgb(15,23,42)">Ссылки</h5>
                        <a href="{% url 'home' %}">Главная</a><br>
                        <a href="{% url 'under_construction' %}">Курсы</a>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-md-2">
                    <div class="footer-list">
                        <h5 style="color: rgb(15,23,42)">Информация</h5>
                        <a href="{% url 'under_construction' %}">О проекте</a><br>
                        <a href="{% url 'under_construction' %}">Об авторах</a>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-md-2">
                    <div class="footer-list">
                        <h5 style="color: rgb(15,23,42)">Помощь</h5>
                        <a href="{% url 'home' %}">F.A.Q.</a><br>
                        <a href="{% url 'under_construction' %}">Написать поддержке</a>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- ПОДКЛЮЧЕНИЕ JS-СКРИПТОВ-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block extrajs %}{% endblock %}

</body>
</html>